@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@import 'tailwindcss-animated';
@plugin "daisyui";

body {
	font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
}

@plugin "daisyui" {
	themes:
		night --default,
		dark,
		synthwave,
		light,
		forest,
		dracula,
		coffee,
		retro,
		cyberpunk,
		cupcake;
}
